<div ng-include="'app/shared/navbar/navbar.html'"> </div>

<!-- <form action="/charge" method="POST">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_YUxHogHhXlWuWJ8S3WlPNtdl">
  </script>
</form> -->
<!-- TODO: custom form validation for stripe
 -->
<div class="container">
  <form class="form-horizontal animated fadeInDown">
    <fieldset>
      <legend class="form-header">Update payment method</legend>

      <div class="form-group">
        <label for="inputNumber" class="col-lg-2 control-label">Card number</label>
        <div class="col-lg-10">

          <!-- TODO: make sure this is 16 (number) + 3 (space) char string. Ex:
                "4242 4242 4242 4242"
            -->
          <input type="text" class="form-control" id="inputNumber" placeholder="0000 0000 0000 0000" ng-model="card.number">

        </div>
      </div>

      <div class="form-group">
        <label for="inputExpiration" class="col-lg-2 control-label">Expiration Date</label>
        <div class="col-lg-10">

          <!-- TODO: make sure this is 7 char string. Ex:
                "07 / 06"
            -->
          <input type="text" class="form-control" id="inputExpiration" placeholder="MM/YY" ng-model="card.expire">

        </div>
      </div>

      <div class="form-group">
        <label for="inputCVC" class="col-lg-2 control-label">CVC</label>
        <div class="col-lg-10">

          <!-- TODO: make sure this is 4 char string. Ex:
                "1234"
            -->
          <input type="text" class="form-control" id="inputCVC" placeholder="0000"
          ng-model="card.cvc">

        </div>
      </div>
        
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <!-- TODO: Make sure all fields are formatted and filled properly -->
          <button class="btn btn-default" ng-click='save()'>Save</button>
          <span> {{ statusMessage }}</span>
        </div>  
      </div>

    </fieldset>
  </form>
</div>