
<div ng-include="'app/shared/navbar/navbar.html'"> </div>

<!-- <section data-ng-controller="ProfilesController as profile" data-ng-init="reload()"> -->
<a class="goBack" ng-click="goBack()">go back</a></li>
<section class="profile" ng-model="user">

      <img class="profilePic" ng-src="{{ user.picture }}">
      <legend class="profileName">{{ user.name }}</legend>
      <br><span class="profileField">City:</span> {{ user.city }}
      <br><span class="profileField">Rating:</span> {{ user.rating }}
      <br><span class="profileField">Tasks Completed:</span> {{ user.completedCount }}
      <br><span class="profileField">Tasks Paid:</span> {{ user.paidCount }}
      
      

      <br><span class="profileField">Reviews:</span>
      <li class="reviews" ng-repeat="review in user.reviews">{{ review.review }} by {{review.reviewer}}</li>
        
</section>
