
<div ng-include="'app/shared/navbar/navbar.html'"> </div>

<!-- <section data-ng-controller="ProfilesController as profile" data-ng-init="reload()"> -->
<a class="goBack" ng-click="goBack()">go back</a></li>
<section class="profile" ng-model="user">

      <img class="profilePic" ng-src="{{ user.picture }}">
      <legend class="profileName">{{ user.name }}</legend>
      <div class="stars" style="background-image:url('http://farts.london/stars.png'); width:{{ rating * 40 }}px;height:47px; background-position:left;">&nbsp;</div>
      <br><span class="profileField">City:</span> {{ user.city }}
      <!-- <br><span class="profileField">Average Rating:</span><div class="stars" style="background-image:url('http://farts.london/stars.png'); width:{{ rating * 40 }}px;height:47px; background-position:left;">&nbsp;</div> -->
      <br><span class="profileField">Tasks Completed:</span> {{ user.completedCount }}
      <br><span class="profileField">Tasks Paid:</span> {{ user.paidCount }}
      <br>
      <br><span class="profileField">Reviews:</span>
      <li class="reviews" ng-repeat="review in user.reviews">{{ review.rating }}/5 "{{ review.review }}" -- <em>{{review.reviewer}}</em></li>

</section>
