
<div ng-include="'app/shared/navbar/navbar.html'"> </div>

<!-- <section data-ng-controller="ProfilesController as profile" data-ng-init="reload()"> -->
<section ng-model="user">

      <img ng-src="{{ user.picture }}">
      <legend class="form-header">{{ user.name }}</legend>

      <br>City: {{ user.city }}
      <br>Rating: {{ user.rating }}
      <br>Tasks Completed: {{ user.completedCount }}
      <br>Tasks Paid: {{ user.paidCount }}

      <br>{{ user.data }}

      <br>Reviews:
      <li class="reviews" ng-repeat="review in user.reviews">
        
</section>
